# Next.js Environment Variables (Optional for Vercel)
# Set your secure custom secret key for JWT session tokens:
ADMIN_JWT_SECRET="ak-associates-secure-cms-secret-key-2026-super-safe"

# Base URL of the website:
NEXT_PUBLIC_SITE_URL="https://www.ak-associates.com"
